#display-section{
    display: flex;
    /* background: conic-gradient(from 180deg at 31% 45.56%, #122115 0deg, #0F406D 360deg); */
    background: linear-gradient(90deg, #080430 31%, #D5E1F4 31%);;
    padding-left: 4%;
}

#brazil-map-container{
    max-width: 894px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 72px;
}

#map-label{
    font-size: clamp(14px, 1.7vw, 24px);
    color: black;
    background-color: white;
    margin-bottom: 72px;
    border: 2px solid white;
    padding: clamp(6px, .8vw, 12px) clamp(16px, 2.2vw, 32px);
    border-radius: 32px;
    letter-spacing: .02em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

#bg{
    position: absolute;
    /* background-image: url("../../assets/Clouds-day.png"); */
    background-size: cover;
    filter: saturate(1.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    border-radius: 40px;
    z-index: 1;
}

.content{
    position: relative;
    z-index: 2;
}

#capital-info-container{
    position: relative;
    width: calc(1440px - 894px);
    padding: 4.1vw;
    margin: 40px 40px 40px 0;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

#capital-info-container{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

#day{
    font-size: clamp(14px, 1.1vw, 16px );
}

#time{
    font-size: clamp(14px, 1.1vw, 16px );
}

#state-capital{
    font-size: clamp(14px, 3vw, 44px);
}

#state-abbr{
    font-size: clamp(14px, 1.7vw, 24px);
    margin-bottom: 4px;
}

#location-group{
    text-align: center;
}

#weather-group{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 10px 50px 5px 50px
}

#temperature{
    font-size: clamp(14px, 5.3vw, 76px);
}

#condition{
    font-size: clamp(14px, 1.9vw, 28px);
}

#image-condition{
    width: clamp(50px, 6.9vw, 100px);
    height: auto;
}

#more-cities-anchor{
    text-decoration: none;
    background-color: white;
    font-size: clamp(14px, 1.9vw, 28px);
    padding: clamp(6px, .8vw, 12px) clamp(16px, 2.2vw, 32px);
    border-radius: 60px;
    color: black;
    text-shadow: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1440px){
    #display-section{
        display: flex;
        /* background: conic-gradient(from 180deg at calc(395px + (100vw - 1440px)/2) 0%,  */
        background: linear-gradient(90deg, #080430 calc(395px + (100vw - 1440px)/2), #D5E1F4 calc(395px + (100vw - 1440px)/2));
        padding-left: calc((100vw - 1440px)/2);
        min-height: 90vh;
    }

    #cards-section, #city-picker-section{
        padding-left: calc((100vw - 1440px)/2);
        padding-right: calc((100vw - 1440px)/2);
    }
}